.field {
  display: flex;
  justify-content: center;
  width: 25rem;
  height: 50rem;
  text-align: center;
}

.wrapper input {
  border-radius: 10px;
  color: #e3dac9;
  background-color: #7f45ac;
  padding: 0;
  margin: 0;
  border: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 24px;
  width: 100%;
  caret-color: transparent;
  cursor: default;
}

.something {
  padding: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  vertical-align: center;
  outline: none;
}

/* Make the sudoku grid have an outline for every 3x3 square*/
.wrapper input:nth-child(3n) {
  border-right: 2px solid black;
  border-radius: 10px;
}

/* .wrapper input:nth-child(3n + 1) {
  border-left: 3px solid black;
} */

/* in a 9x9 grid, every 3rd row should have a solid border at the bottom and the top */

.srow:nth-child(3n) {
  border-bottom: 2px solid black;
}

.something:focus {
  background-color: #9d50d8;
}
